<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragments :: head}"></head>
<body>

<header th:replace="~{fragments/admin :: admin-header}"></header>

<section class="steps">
    <div class="form-group">
        <a th:href="@{/dashboard/admin/add}" class="btn">Dodaj Administratora</a>
    </div>
</section>

<section class="steps">
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Imię</th>
            <th>Email</th>
            <th>Ważność konta</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="admin : ${admins}" th:classappend="${admin.isDeleted == 1} ? 'deleted' : ''">
            <td th:text="${admin.id}"></td>
            <td th:text="${admin.firstName}"></td>
            <td th:text="${admin.email}"></td>
            <td th:text="${admin.enabled}"></td>
            <td th:if="${admin.isDeleted == 0}">
                <a th:href="@{/dashboard/admin/edit/{id}(id=${admin.id})}" class="btn">Edytuj</a>
                <a th:href="@{/dashboard/admin/delete/{id}(id=${admin.id})}" th:if="${#authentication.principal.username != admin.email}" class="btn">Usuń</a>
                <a th:href="@{/dashboard/admin/password/{id}(id=${admin.id})}" class="btn">Zmień hasło</a>
            </td>
            <td th:if="${admin.isDeleted == 1}">
                <a th:href="@{/dashboard/admin/recover/{id}(id=${admin.id})}" class="btn">Przywróć</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>

</body>
</html>