<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragments :: head}"></head>
<body>

<header th:replace="~{fragments/profile :: profile-header}"></header>
<section class="steps">
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Instytucja</th>
            <th>Ustalona data i godzina odbioru</th>
            <th>Rzeczywista data i godzina odbioru</th>
            <th>Komentarz</th>
            <th>Adres odbioru</th>
            <th>Ilość worków</th>
            <th>Kategoria daru</th>
            <th>Darczyńca</th>
            <th>numer telefonu</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:classappend="${donation.archived == 1} ? 'archived' : ''">
            <td th:text="${donation.id}"></td>
            <td th:text="${donation.institution.name}"></td>
            <td th:text="${donation.pickUpDate} + ' / ' + ${donation.pickUpTime}"></td>
            <td th:text="${donation.realPickUpDate} + ' / ' + ${donation.realPickUpTime}" th:if="${donation.realPickUpDate != null}"></td>
            <td th:text="'Jeszcze nie odebrano'" th:if="${donation.realPickUpDate == null}"></td>
            <td th:text="${donation.pickUpComment}"></td>
            <td th:text="${donation.street} + ', ' + ${donation.zipCode} + ' ' + ${donation.city}"></td>
            <td th:text="${donation.quantity}"></td>
            <td><p th:each="category : ${donation.categories}" th:text="${category.name}"></p></td>
            <td th:text="${donation.user.firstName}"></td>
            <td th:text="${donation.phone}"></td>
            <td th:if="${donation.archived == 0}">
                <a th:href="@{/profile/archive/{id}(id=${donation.id})}" class="btn">Odbierz</a>
            </td>
            <td th:if="${donation.archived == 1}">
                <h4 th:text="'Odebrano dnia ' + ${donation.realPickUpDate}"></h4>
                <h5 th:text="'o godzinie ' + ${donation.realPickUpTime}"></h5>
            </td>
        </tr>
        </tbody>
    </table>
</section>

</body>
</html>