<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragments :: head}"></head>
<body>
<header>
    <nav th:replace="~{fragments/fragments :: navBar}"></nav>
</header>

<section class="login-page">
    <h2>Przypomnij hasło</h2>
    <form action="/reminder" th:method="POST">
        <div class="form-group">
            <input type="email" name="email" placeholder="Email"/>
        </div>
        <div class="form-group form-group--buttons">
            <button class="btn" type="submit">Przypomnij hasło</button>
            <a href="/login" class="btn btn--without-border">Cofnij</a>
        </div>
    </form>
</section>

<footer th:replace="~{fragments/fragments :: footer}"></footer>

</body>
</html>
