<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragments :: head}"></head>
<body>
<header>
    <nav th:replace="~{fragments/fragments :: navBar}"></nav>
</header>

<section class="login-page">
    <h2>Załóż konto</h2>
    <form th:object="${user}" th:action="@{/registration}" method="POST">
        <div class="form-group center">
            <input type="text" name="firstName" placeholder="Imię" th:value="${user.firstName}"/>
            <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
        </div>
        <div class="form-group center">
            <input type="email" name="email" placeholder="Email" th:value="${user.email}"/>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>
        <div class="form-group center">
            <input type="password" name="password" placeholder="Hasło" />
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>
        <div class="form-group center">
            <input type="password" name="password2" placeholder="Powtórz hasło" />
        </div>

        <div class="form-group form-group--buttons">
            <a href="login.html" class="btn btn--without-border">Zaloguj się</a>
            <button class="btn" type="submit">Załóż konto</button>
        </div>
    </form>
</section>

<footer th:replace="~{fragments/fragments :: footer}"></footer>

</body>
</html>
